@tailwind base;
@tailwind components;
@tailwind utilities;
@config "../tailwind.config.js";

/* 애니메이션 참고 영상
https://www.youtube.com/watch?v=iW-PSTzvVNQ&t=368s */
/* https://tailwindcss.com/plus/ui-blocks */

/* 
2xl: 1536 이상
xl : 1280 이상
lg : large(width:1024) 사이즈 이상일 경우
md : 768 이상
sm : 640 이상
그외 :  */

/* 
display 속성들
block : 항상 새로운 줄에서 시작하고, 가능한 최대 너비를 차지해
inline : 새 줄을 시작하지 않고, 필요한 만큼의 너비만 차지해
inline-block : inline이지만 너비 조절 가능
flex : 유연하게 배치
grid : 행 열배치
hidden/none : 숨기기(none은 @apply로 안써짐)
*/

/* 
애니메이션 구현방식
transition : 간단 빠름
keyframes : 반복 용도
AnimatePresence/Framer Motion : 고성능, react전용 */

@layer components {
    body {
        @apply bg-myMainColor-50 
    }
    
    /* 메뉴 - 항목 */
    .menuContent {
        /* 
        relative : 자식태그가 absolute 사용하게 함
        - absolute : top,bottom,left,right가 부모기준으로 작동하게 함(default:html기준)
        flex-1 : 
        cursor-pointer : 마우스 오버시 손가락 포인터 커서 표시 
        hidden sm:flex : 숨기기 기본, sm 이상은 flex 
        hidden과 flex가 같은 그룹인듯...
        */
        @apply hidden sm:flex
        relative h-full items-center justify-center flex-1
        md:text-base lg:text-xl xl:text-3xl font-extrabold text-myMainColor-950 
        /* cursor-pointer */
    }

    .dropMenuContent {
        @apply md:text-base lg:text-lg xl:text-xl
    }

}
